{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% load crispy_forms_filters %}

{% block head_title %}Sign In{% endblock %}

{% block content %}

  <div class="text-center">
    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts.<br>To see the List of the Events:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <div class="socialaccount_providers primaryAction mt-3 btn btn-dark">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}
  </div>
  </div>
{% endblock %}