{% extends "account/base.html" %}

{% load crispy_forms_filters %}

{% load bootstrap %}

{% block head_title %}Events{% endblock %}

{% block content %}
<div class="container text-dark mt-5">
  {% if user.is_authenticated %}
  <h4>Welcome, {{ user.username }} !</h4>
  <h2>Welcome to the Eventor. Here you can see about Current Events:-></h2>
  <form method="get" class="d-flex position-relative my-4 mx-3" style="width: 56%;">
    {% comment %} <input class="form-control me-2" id="myInput" type="search" placeholder="Search by Author Name" aria-label="Search" name="search" id="search"> {% endcomment %}
    {{myFilter.form|bootstrap_horizontal}}
    <button class="btn btn-outline-success" type="submit" style="margin-left: 26px;padding-inline: 15px;font-size: 24px;">Search</button>
  </form>
  <table class="table table-dark table-borderless my-3" style="margin-left: 14px; width: 98%;">
    <thead class="table-light">
      <tr>
        <th scope="col">Event's Name</th>
        <th scope="col">City</th>
        <th scope="col">Category</th>
        <th scope="col">Date of Event</th>
        <th scope="col">Price for the Event</th>
      </tr>
    </thead>
    {% for auth in author %}
    <tbody id="myTable">
      <tr>
        <th scope="row">{{auth.Name}}</th>
        <td>{{auth.City}}</td>
        <td>{{auth.Category}}</td>
        <td>{{auth.Date|date:"d M, Y" }}</td>
        <td>{{auth.Price}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  {% else %}
  <h1>Seems like you're not logged in!!, please log in</h1>
  <div class="primaryAction mt-3 btn btn-dark"><a class="text-light" href="{% url 'account_login' %}">Sign In</a></div>
  {% endif %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}